@import "../../theme/variables.scss";

.hubspot {
  .select-field {
    margin-bottom: 8px;
  }

  .field-container {
    position: relative;

    & .placeholder {
      position: absolute;
      top: 12px;
      left: 0px;
      z-index: 3;
      font-size: $font-size-sm;
      transition: all 0.2s;
      pointer-events: none;

      &--select-label {
        top: -17px;
        font-size: $font-size-xs;
      }

      &--active {
        top: -15px;
        font-size: $font-size-xs;
      }
    }

    &:not(.select-field) {
      &:after {
        content: ' ';
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 0%;
        height: 2px;
        transition: all 0.2s;
        background: $gray-light;
        z-index: 2;
      }
    }

    &:focus-within {
      color: $nz-green;

      &:after {
        width: 100%;
      }

      & .placeholder {
        top: -15px;
        font-size: $font-size-xs;
      }
    }
  }

  .formik-error {
    position: absolute;
    right: 0px;
    color: red;
    top: 12px;
    font-size: $font-size-xs;
    z-index: 5;
  }

  & form {
    margin-top: 20px;
  }

  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: $gray-black;
  }

  input:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 50px white inset;
      -webkit-text-fill-color: $gray-black;
  }

  & input[type="text"], & input[type="password"] {
    position: relative;
    outline: none !important;
    margin: 0px;
    font-size: 14px;
    width: 100%;
    padding: 8px;
    background-color: white !important;
    border: none;
    border-bottom: 2px solid $gray-lightest;
    border-radius: 0px;
    margin-bottom: 30px;
    padding-left: 0px;

    &::placeholder {
      font-size: 14px;
      color: black !important;
    }
  }
}
