.collapsable {
  background: #F0F0F0;
  padding: 24px;
  margin-bottom: 36px;
  border-bottom: 2px solid #4BAF99;
  border-radius: 3px;
  color: #333;
  text-align: left;
  font-size: 0.7rem;

  .col-title {
    width: 80%;
  }

  .col-plus {
    width: 20%;
  }

  .col-title, .col-plus {
    display: inline-block;
  }

  &__plus {
    transition: all ease-in 0.3s;
    display: inline-block;

    & span {
      display: inline-block;
      height: 16px;
      width: 3px;
      background:#4BAF99;
      opacity: 1;

      &:first-of-type {
        transform: rotate(90deg);
        position: relative;
        left: 3px;
      }
    }

    &--open {
      transform: rotate(90deg);

      & span:first-of-type {
        opacity: 0;
      }
    }
  }
}
