.process-steps{
  @media (min-width: 769px) {
    height: 400px;
    padding-top: 100px;
  }

 .step {
    @media (max-width: 768px) {
      display: block;
      height: auto;
      width: 100%;
      text-align: left;

      &:before {
        display: none !important;
      }

      &:after {
        display: none !important;
      }
    }
  }

  .step-image {
    height: 60px;
    margin-top: 70px;
    margin-bottom: 70px;

    @media (max-width: 768px) {
      margin: 0px !important;
      margin-top: 0px;
      display: inline-block;

      &:before {
        display: none !important;
      }
    }
  }
}
