.footer {
  background: #f3f3f3;
  padding: 24px;

  a {
    display: block;
    text-decoration: none;
    color: #333;

    &:hover {
      text-decoration: underline;
    }
  }
}

.email-links {
  text-align: left !important;
}

.footer-items {
  text-align: center;
}
