.create-event {
  padding: 100px 12px;
  min-height: 100vh;
  background: linear-gradient(45deg, #7BC255, #4BAF99);
  text-align: center;
  color: white;
  position: relative;

  &__container {
    max-width: 450px;
    margin: 0 auto;

    & h1 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  p, h1 {
    margin: 0px;
  }

  .steps-container {
    text-align: left;
  }

  .step-container {
    margin: 30px 0px;
  }

  .step-text {
    width: calc(100% - 30px);
    display: inline-block;
    vertical-align: top;
  }

  .step-number {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    border: 2px solid white;
    margin-right: 6px;
    font-size: 14px;
  }

  &:before {
    position: absolute;
    bottom: 10%;
    right: -20px;
    content: '';
    background-image: url('../../images/cal-white-big.png');
    height: 40%;
    width: 32%;
    background-size: cover;
    transform: rotate(10deg);
    opacity: 0.08;
  }

  .email-input {
    margin-bottom: 20px;
    padding: 12px;
    width: 300px;
    max-width: 95%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    text-align: center;
  }

  .event-submit {
    margin: 30px auto;
    margin-bottom: 6px;
    padding: 6px 20px;
    border-radius: 6px;
    background: #1e8a7b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &:active {
      position: relative;
      top: 2px;
    }
  }

  label {
    color: white !important;
  }

  .error-message {
    color: red;
    font-size: 12px;
  }
}

.MuiInput-underline-27:before {
  border-color: white !important;
}

[class*="MuiInput-formControl-"]:after {
  border-color: white !important;
}

[class*="MuiInput-input-"] {
  color: white !important;
}

[class*="MuiFormControl-root-"] {
  width: 400px;
  max-width: 95%;
}

.jss1, .jss2 {
  width: 100%;
}

.jss27:after {
  border-color: white;
}

input {
  padding-left: 6px !important;
  background: none;
  box-shadow: none;
  border: none;
  width: 100%;
  color: white;
  font-size: 16px;

  &:focus {
    + .input-bottom {
      &:before {
        transition: all 0.3s;
        right: 0;
      }
    }
  }

  &::placeholder {
    color: white;
    font-size: 16px;
  }
}

.input-bottom {
  width: 100%;
  height: 2px;
  background: #fafafa;
  position: relative;

  &:before {
    content: ' ';
    height: 2px;
    background: #4BAF99;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
  }
}

@-webkit-keyframes autofill {
    0%,100% {
        color: white;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.event-loader {
  position: relative;
  top: 4px;
}
