.homepage {
  position: relative;

  &__overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
    z-index: 6;
  }

  &__cookie {
    position: fixed;
    width: 90%;
    left: 5%;
    box-sizing: border-box;
    background: white;
    border-radius: 4px;
    bottom: -1000px;
    padding: 21px;
    opacity: 0.9;
    border: 2px solid #4BAF99;
    z-index: 10;
    transition: all 0.4s ease-in-out;

    &--active {
      bottom: 60px;
    }
  }

  &__buttons {
    margin-top: 18px;
    text-align: center;
  }
}

.movie-border {
  border-bottom: 8px dotted #7BC255;
}

.cookie-button {
  background: #4BAF99;
  padding: 6px 12px;
  margin: 0px 6px;
  margin-bottom: 6px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: #2d695b;
  }
}

.App-header {
  position: fixed;
  width: 100vw;
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 20;
  padding-bottom: 12px;
}

.bar a {
   // transition: all 0.5s ease;
   color: white;
   text-decoration: none;
}

.title-container {
  text-align: center;
  margin-top: 20px;
  color: white;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 40px;
  background: #4BAF99;
  z-index: 2;

  @media(max-width: 430px) {
    height: 60px;
  }

  h1 {
    margin: 6px;

    @media(max-width: 430px) {
      margin: 10px;
      font-size: 0.7em;
    }

    @media(max-width: 650px) {
      margin: 10px;
      font-size: 0.9em;
    }
  }
}

.jumbo-container {
  padding-top: 100px !important;
  height: 400px;
}


.right {
  float: right;
  margin-top: 14px;
  font-weight: bold;

  &--active {
    & a {color: #4BAF99;}
  }

}

.green {
  color: #4BAF99 !important;
}

.left {
  float: left;
}

.white {
  color: white;
}

.flex {
  display: flex;
}

.small {
  font-size: 0.8rem;
}

.smaller {
  font-size: 0.8rem;
}

.header-logo {
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.text-logo {
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 12px;
}

.bar {
  margin: 0 auto;
  max-width: calc(100vw - 24px);
  width: 1200px;
  padding: 24px 12px;

  @media(min-width: 768px) {
    padding: 12px 0px;
  }
  @media(min-width: 2000px) {
    max-width: 1800px;
    width: 1800px;
  }
}

.jumbotron {
  // background: linear-gradient(45deg, #7BC255, #4BAF99);
  // position: relative;
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // padding: 30px;
  // height: 400px;
}

.jumbo-content {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px;
  transition: all 0.2s;
  padding-top: 20%;
  z-index: 3;

  @media(min-width: 768px) {
    padding: 12px 45px;
    padding-top: 8%;
  }

  @media(min-width: 1700px) {
    // padding-top: 10%;
  }

  @media(min-width: 2000px) {
      max-width: 1800px;
      width: 1800px;
  }
}

.meeting {
  display: none;
  top: 30%;

  @media(min-width: 768px) {
    display: block;
    position: absolute;
    width: 30%;
    max-width: 300px;
    right: 5%;
    float: right;
  }

  @media(min-width: 1600px) {
    bottom: 300px;
  }
}

.home-container {
  max-width: 1200px;
  padding: 12px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  text-align: center;

  @media(min-width: 2000px) {
    max-width: 1800px;
    width: 1800px;
  }
}

.how-it-works-title {
  color: #4BAF99;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 24px;
}

.color-container-content {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 12px;
  color: white;

  @media(min-width: 2000px) {
    max-width: 1800px;
    width: 1800px;
  }
}

.bb-pros {
  max-width: 400px;
  margin-left: auto;
  color: white;
  background: rgba(255,255,255,0.2);
  padding: 40px;

  & div {
    margin-bottom: 16px;
  }

  & span {
    display: block;
  }
}

.bold {
  font-weight: bold;
}

.h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.font-size-md {
  font-size: 2rem;
}

.font-size-half {
  font-size: 1.5rem;
}

.h2 {
  color: #4BAF99;
  font-size: 2rem;
  font-weight: bold;
}

.sub-title {
  color: white;
  font-size: 1rem;

  @media(min-width: 768px) {
    width: 50%;
    max-width: 600px;
  }
}

.usps {
  margin-bottom: 24px;
}

.usp {
  margin: 18px 0px;
  text-align: center;
}

.usp-title {
  font-size: 2.5rem;
  color: #4BAF99;
  font-weight: bold;
  border: 5px solid #4BAF99;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 110px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.usp-icon {
  height: 100%;
  position: relative;
  top: -10px;
}

.divider {
  width: 60px;
  height: 5px;
  background: linear-gradient(45deg, #7BC255, #4BAF99);
  margin: 0 auto;
  margin: 42px;
  display: inline-block;
}

.usp-subtitle {
  margin: 0px 16px;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;

  & div {
    height: 80px;
  }

  & span {
    display: block;
    font-weight: normal;
    font-size: 0.9rem;

  }
}

.contact {
  margin: 36px 0px;

  input[type="text"] {
    color: black;
    padding-left: 12px;
    line-height: 40px;
    height: 40px;
    width: 340px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    width: 250px;
  }

  &__checkbox-container {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;

    input {
      width: 28px;
      display: inline-block;
    }

    & label {
      font-size: 0.8em;
    }
  }
}

.contact-button {
  display: inline-block;
  vertical-align: middle;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
  height: 40px;
  line-height: 40px;
  width: 140px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border-radius: 0px 4px 4px 0px;
  position: relative;
  right: 2px;
}

.steps-container {
  text-align: left;
}

.step-container {
  margin: 30px 0px;
}

.step-text {
  width: calc(100% - 30px);
  display: inline-block;
  vertical-align: top;
}

.step-number {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  border: 2px solid white;
  margin-right: 6px;
  font-size: 14px;
}

.color-container {
  position: relative;
  margin: 60px 0px;
  margin-top: 100px;
  padding: 24px;
  min-height: 300px;
  background: linear-gradient(135deg, #7BC255, #4BAF99);
  overflow: hidden;
  color: white;

  &__text {
    max-width: 400px;
  }
}

.problem-container:before, .test-container:before {
  content: '';
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.problem-container:before {
  bottom: -40px;
  opacity: 0.1;
  right: -80px;
  height: 400px;
  width: 400px;
  transform: rotate(15deg);
  background-image: url('../../images/trashcan.svg');
}

.test-container:before {
  bottom: -20px;
  opacity: 0.9;
  left: 50%;
  height: 300px;
  width: 300px;
  transform: rotate(0deg);
  transform: scaleX(-1);

  @media(min-width: 600px) {
    background-image: url('../../images/holding_ipad.png');
  }
}

.contact-button:hover {
  cursor: pointer;
}

.yellow-button {
  background: #f5ed7f;
  padding: 8px 16px;
  color: #4BAF99;
  font-weight: bold;
  color: rbga(0,0,0,0);
  border-radius: 4px;
  display: inline-block;
}

.half {
  text-align: center;
  font-style: italic;
}

.the-hague-logo {
  width: 100%;
}

.awards {
  margin: 90px 0px;
  color: #333;
}

.award-image {
  height: 100px;
}

.award-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.half-width {
  @media(min-width: 768px) {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }

  &--no-mobile {
    @media(max-width: 767px) {
      display: none !important;
    }
  }
}

.subheading {
  color: #e5f5f8;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.full-width {
  width: 100%;
}

.carousel-dots li button {
  height: 10px;
  width: 10px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 4px;
  display: inline-block;

  &:before {
    display: none;
  }
}

.carousel-dots-active button {
  background: white !important;
}

.pro-side {
  padding: 12px;

  ul {
    position: relative;
    left: -36px;
    list-style: none;
  }
  li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 12px;
  }
  li:before {
    content: '✔';
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
  }
}

.text-left {
  text-align: left !important;
}

.problem-side {
  box-sizing: border-box;
  color: #4BAF99;
  padding: 24px;
  background: white;

  & div {
    margin-bottom: 24px;
  }

  & span {
    display: block;

    &:before {
      content: '✖';
      color: #4BAF99;
      margin-right: 8px;
    }
  }

  &:last-of-type {
    & span {
      &:before {
        content: '✔';
      }
    }
  }
}

.sdg-container {
  img {
    width: 150px;
    margin-right: 6px;
    margin-bottom: 6px;
  }
}

.sdg-text {
  text-align: left;
  padding: 12px;

  & div {
    color: #4BAF99;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.prices {
  position: relative;
  margin: 40px 0px;
  padding: 20px;

  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    height: 60%;
    top: 40%;
    background: linear-gradient(45deg, #7BC255, #4BAF99);
  }
}

.price {
  border: 2px solid #f3f3f3;
  background: white;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 6px;

  &__title {
    font-weight: bold;
    font-size: 1.3rem;
    color: #4BAF99
  }

  &__lines {
    color: gray;
    margin: 24px 0px;
  }

  &__number {
    span {
      font-size: 28px;
    }
  }
}

.thirds {
  @media(min-width: 600px) {

    &:not(last-of-type) {
      margin-right: 12px
    }

    width: calc(33% - 14px);
    display: inline-block;
  }
}

.fourth {
  height: 70px;
  padding: 12px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 36px;

  &:nth-of-type(2) {
    border-right: 1px solid #d3d3d3;
  }

  @media(min-width: 600px) {
    width: 33%;

  }

  @media(min-width: 768px) {
    width: 25%;
  }
}

.more-info {
  background: #fafafa;
  padding: 20px;
  padding-bottom: 50px;

  .home-container {
    width: 500px;
    margin: 0 auto;
  }
}

.copyright {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 0px;
}

.slider-container {
  width: calc(100% - 100px);
  margin: 0 auto;
  margin-bottom: 90px;

  @media(min-width: 900px) {
    width: 1200px;
  }
}

.slider-item {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;

  .slider-title {
    font-size: 28px;
  }

  & img {
    margin: 0 auto;
    height: 300px;
    max-width: 70%;
    object-fit: contain;
  }
}

.slick-slider {
  & button {
    &:before {
      color: #d3d3d3;
      font-size: 36px;
    }
  }
}

@media(min-width: 768px) {
  .meeting {
    display: block;
    position: absolute;
    width: 30%;
    max-width: 300px;
    right: 5%;
    float: right;
  }

  .usp {
    margin: 0px;
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
  }

  .half {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  .third {
    width: calc(100% * (1 / 3));
    display: inline-block;
    vertical-align: middle;
  }

  .twothird {
    width: calc(100% * (2 / 3));
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9rem;
  }
}
