.App {
  font-family: 'Hind', sans-serif;
  margin: 0 auto;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

textarea, select, input, button { outline: none; }

h1 {
  font-size: 20px;
}

.hamburger-icon {
  height: 20px;
}

.navpanel {
  position: absolute;
  z-index: 4;
  top: 74px;
  height: 100vh;
  right: -10000px;
  bottom: 0;
  width: 100%;
  background: linear-gradient(45deg, #7BC255, #4BAF99);
  transition: all 0.4s;

  &--open {
    right: 0
  }
}

.mobile-header-item {
  padding: 12px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;

  &:hover {
    color: #f5ed7f;
  }

  &__sub {
    margin-left: 40px;
    color: white;
    font-size: 1.2rem;
    display: block;
    padding: 12px;
  }
}

.hide-mobile {
  @media(max-width: 768px) {
    display: none !important;
  }
}

.clearfix {
  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}
.pointer {
  cursor: pointer;
}

.va-middle {
  vertical-align: middle !important;
}

.caps {
  text-transform: uppercase;
}

.no-margin {
  margin: 0px !important;
}

.text-center {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.white {
  color: white;
}

/* React-collapse */

.ReactCollapse--collapse {
  transition: height 400ms;
}

.Toastify__toast-body {
  font-size: 0.8rem;
}
